# VCS
.git
.gitignore
.github/

# Node/yarn
node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml
.npmrc
.yarn/*
.yarnrc.yml

# Dependencias y caches
**/.cache
**/.parcel-cache
**/.turbo
**/.next
**/coverage
**/tmp
**/dist
**/build

# SO/editor
.DS_Store
Thumbs.db
*.swp
.vscode
.idea

# Entornos locales / secretos
.env
.env.*
!.env.example

# Docker
Dockerfile.dev
docker-compose*.yml
